{
  "overrides": [
    {
      "files": ["*.js", "*.ts", "*.css", "*.vue"],
      "options": {
        "printWidth": 100,
        "singleQuote": true,
        "useTabs": false,
        "arrowParens": "always",
        "trailingComma": "none"
      }
    }
  ]
}
